@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*
{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(.idea/img/back1b.jpg) top right no-repeat;
	background-size: cover;
	height: 120vh;
	width: 100%;

}
	/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
	.navbar {
		position: fixed;
		height: 80px;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.4);
		font-size: 30px;
		align-items: center;
		display: flex;
		justify-content: flex-start;
	}

	.navbar .logo {
		align-items: center;
		display: flex;
		width: 50px;
		padding-left: 100px;
		padding-right: 50px;
		justify-content: center;
		color: #fffcfc;

	}

	.navbar ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		justify-content: flex-end;
		align-items: center;
	}

	.navbar ul:nth-child(2){
		width: 55%;

	}
	.navbar ul:last-child{
		width: 30%;
	}


	.navbar ul li {
		list-style: none;
		margin-right: 2px;
		display: inline-block;
		line-height: 2px;
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.navbar ul li a {
		font-size: 22px;
		font-family: "Poppins", sans-serif;
		color: rgba(255, 255, 255, 0.7);
		padding: 20px 20px;
		text-decoration: none;
		transition: .8s;

	}

	.navbar ul li a.active {
		visibility: visible;
		width: 25px;
	}

	.navbar ul li a:hover {
		color: #fff;
		text-decoration: none;
	}

	.wrapper .center {
		position: absolute;
		left: 50%;
		top: 75%;
		transform: translate(-50%, -50%);
		font-family: sans-serif;
		user-select: none;
	}

	.center h1 {
		color: white;
		font-size: 60px;
		width: 800px;
		font-weight: bold;
		text-align: center;

	}

	.center p {
		color: white;
		font-size: 25px;
		font-weight: normal;
		margin-top: 25px;
		width: 800px;
		text-align: center;

	
	}

	.center .buttons {
		margin: 130px 300px;
	}

	.buttons button {
		height: 50px;
		width: 180px;
		font-size: 20px;
		font-weight: 600;
		color: #070707;
		background: darkorange;
		cursor: pointer;
		border: 1px solid #fffcfc;
		border-radius: 25px;
		transition: .4s;
	}

	.bottom {
		position: absolute;
		bottom: -80%;
		left: 91%;
		transform: translate(-48%);
		color: #ffffff;
		justify-content: center;

	}

	#icon {
		font-size: 35px;
		transform: translate(-46%);
		margin-top: -10px;
		position: relative;
		
	}

/*--------------------------------------------------------------
# section2
--------------------------------------------------------------*/
#contain{
	background: url(.idea/img/back2.jpg) top right no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	
}

#contain h1 , #contain h3 {
	margin-bottom: 10px;
	margin-left: -230px;
}

#contain h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 60px;
	font-weight: bold;
	color: white;
	
  }
  #contain h3 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: white;
	margin-left: -230px;
	margin-top: 310px;

  }

.pict {
	position: flex;
	margin-top: -70px;
	margin-left: 200px;
	border-radius: 50px;
	
	
}

#icon2 {
	position: flex;
	margin-top: -280px;
	margin-left: 180px;
	transform: translate(-49%);
	transition: .4s;
	cursor: pointer;
	color: white;
	font-size: 30px;
	
}
#icon3 {
	position: flex;
	margin-top: -50px;
	margin-left: 1220px;
	transform: translate(-49%);
	transition: .4s;
	cursor: pointer;
	color: white;
	font-size: 30px;
}

.round1{
	position: flex;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	margin-left: 450px;
	margin-top: 190px;
	transform: translate(800%);;

}
.round2{
	position: flex;
	width: 20px;
	height: 20px;
	background: white;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	margin-left: 280px;
	margin-top: -20px;
	transform: translate(1300%);;

}
.round3{
	position: flex;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	margin-left: 425px;
	margin-top: -20px;
	transform: translate(1300%);;

}
.round4{
	position: flex;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	margin-left: 630px;
	margin-top: -20px;
	transform: translate(650%);;

}
.round5{
	position: flex;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	margin-left: 680px;
	margin-top: -20px;
	transform: translate(720%);;

}
/*--------------------------------------------------------------
# section3
--------------------------------------------------------------*/
#contain2{
	background: url(.idea/img/back3.jpg) top right no-repeat;
	background-size: cover;
	height: 120vh;
	background-position: 100% 100%;


}
#contain2 .row {
	padding-top: 300px;
	padding-left: 200px;
  }
  
  #contain2 h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 100px;
	font-weight: bold;
	color: white;
	margin-bottom: 60px;
  }
  
  #contain2 h3 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
  }
  
  #contain2 p.font {
	font-family: 'Times New Roman', Times, serif;
	color: #fcb344;
	margin-bottom: 25px;
	font-size: 40px;
  }
  
  #contain2 p.font1 {
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	margin-bottom: 100px;
	font-size: 25px;
  }

.round6 {
	position: relative;
	width: 20px;
	height: 20px;
	background: white;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	left: 50%;
	margin-top: -400px;
	

}
.round7 {
	position: relative;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	left: 50%;
	margin-top: -px;

}
.round8 {
	position: relative;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #fffcfc;
	border-radius: 100%;
	left: 50%;
	margin-top: 75px;
	
}
.garis_vertikal{
	border-left: 3px white solid;
	height: 228px;
	margin-left: 555px;
	


}
/*--------------------------------------------------------------
# section4
--------------------------------------------------------------*/
.contain3 {
	background: url(.idea/img/back4.jpg) top right no-repeat;
	background-size: cover;
	height: 120vh;
	width: 100%;
	position: page;
}

.menu-font3 .font4  {
	padding-left: 200px;
	margin-top: -35px;

}
.font3 p{
	color: white;
	font-size: 28px;
	font-family: "Times New Roman";
	margin-left: 700px;
	padding-top: 300px;

}

.font4 h1 {
	font-size: 80px;
	font-family: "Times New Roman";
	color: #fffcfc;
}


.row .table, td , th{
	font-family: 'Times New Roman', Times, serif;
	margin-left: 200px;
	margin-top: 200px;
	border-collapse: collapse;
	width: 40%;
	height: 60%;
	border: 1px solid gray;
	
}
td p {
	color: white;
	font-size: 25px;
  }
  
  td p.requir {
	color: #fcb344;
	font-size: 30px;
	font-weight: bold;
  }

/*--------------------------------------------------------------
# section5
--------------------------------------------------------------*/

#comment {
	background: url(.idea/img/back6.jpg) top right no-repeat;
	background-size: cover;
	height: 100vh;
	width: 102%;
  }
  
  #comment h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 100px;
	font-weight: bold;
	color: white;
  }
  #comment p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: white;
  }

  .font5 {
	  margin-left: 500px;
	  margin-top: 100px;
  }
  
  .card {
	 margin-left: 100px;
	 margin-top: 300px;
  }
  .card2 {
	margin-left: 1100px;
	margin-top: -200px;
 }
 .card3 {
	margin-left: 300px;
	margin-top: 200px;
 }
  .card-header img {
	border-radius: 10%;
  }
  
  .card-header h5 {
	color: #ffb548;
	font-weight: bold;
  }
  .buttons2 {
	height: 40px;
	width: 300px;
	font-size: 100px;
	text-align: center;
	background: darkorange;
	cursor: pointer;
	border: 1px solid #fffcfc;
	border-radius: 20px;
	transition: .4s;
}
  

/*--------------------------------------------------------------
# section6
--------------------------------------------------------------*/
  #last {
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-color: #080a0b;
	height: 80vh;
  }
  
  #last h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 80px;
	font-weight: bold;
	color: #fff;
  }
  #last p {
	  color: #fff;
  }

  .picts{
	  margin-left: -1700px;
	  margin-top: -500px;
  }
  #last p h1{
	  margin-bottom: 200px;
  }
  .buttons3{
	height: 45px;
	width: 300px;
	font-size: 80px;
	text-align: center;
	background: darkorange;
	cursor: pointer;
	border: 1px solid #fffcfc;
	border-radius: 20px;
	transition: .4s;
  }

  /*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
  footer {
	background-color: #080a0b;
  }
  .navbawah ul li {
	display: inline-block;
	padding: 1rem;
	color: #fff;
  }
  
  .navbawah ul li a {
	text-decoration: none;
	color: #fff;
  }
  
  .navbawah ul li a:hover {
	text-decoration: none;
	color: grey;
	
  }
  
  footer .col-md-5 img {
	padding: 1rem;
  }
  
  footer hr {
	margin-top: -10px;
	border: 1px solid white;
  }
  
  .navbawah2 ul li {
	display: inline-block;
  }
  
  .navbawah2 ul li a {
	text-decoration: none;
	color: #fff;
  }
  
  .navbawah2 ul li a:hover {
	text-decoration: none;
	color: solid grey;
  }
  